+b.header
	.container
		.row
			.col-lg-6
				+b.logo
					+e.image
						img(src="./images/logo.png", alt="")
					+e.title Eudora
			.col-lg-6
				+b.A.search(href="#")
					+e.title Поиск по сайту
					+e.icon
						i.fa.fa-search