+b.header
	+b.IMG.big(src="./img/header-photo.png", alt="")
	+b.title._header Eudora is simple psd template
		+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	+b.btn._white-border
		+e.P.A(href="#") Learn more
	include _menu