.dora-header-menu
	width 100%
	background rgba(0, 0,0, 0.5)
	position absolute
	top 0
	left 0
	text-align center
	
.dora-nav-list
	overflow hidden
	margin bottom 0px
	margin-top 20px 
	margin-bottom 20px

.dora-header-menu__wrapper
	width 70%
	overflow hidden
	margin 0 auto
	

.dora-nav-list__link
	font-size 18px
	text-transform uppercase
	margin-left 50px
	color #fff
	

.dora-title
	font-size 72px
	color #e59205
	text-transform none
					

.dora-nav-list li
	float left
	margin-top 50px
	margin-bottom 50px
	
	&:nth-child(3)
		margin-top 10px
		margin-bottom 0